.popup__close-button {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/close-icon.svg);
    background-size: cover;
    background-color: unset;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1180px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}