.footer {
    margin: 67px 0 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

@media screen and (max-width: 1180px) {
    .footer {
        margin: 48px 0 0;
        padding: 0 19px;
    }
}