.profile__name {
    margin: 0;
    padding: 0;
    max-width: 294px;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    color: #fff;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1180px) {
    .profile__name {
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}