.profile__edit-button {
    margin: 0;
    margin-left: 18px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-button1.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 1px solid #fff;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.profile__edit-button:hover {
    opacity: 0.6;

}

@media screen and (max-width: 1180px) {
    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}